.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.description_price {
    justify-content: space-around;
}

.description {
    align-items: flex-start;
    gap: 2rem;
}

.description>img {
    width: 10rem;
}

.w-40 {
    width: 40vw;
}

.text-justify {
    text-align: justify;
}

.mt_1_25 {
    margin-top: 1.25rem;
}

.mt_2 {
    margin-top: 2rem;
}

.historical {
    position: relative;
    height: 18rem;
    width: 50vw;
    margin: auto;
}



span {
    color: cornsilk;
    margin-right: 50px;
}

#header {
    background-color: black;
    height: 70px;
}

#brand {
    width: 40%;
    float: left;
    height: 70px;
    text-align: center;
    color: white;
}
#menu {
    text-align: center;
    width: 60%;
    float: right;
    height: 70px;
    line-height: 70px;   
}